.container {
    min-height: 300px;
    max-width: 500px;
    border: 10px solid chartreuse;
    overflow: auto;
    margin: 30px auto;
    padding: 30px;
}

.taskElement{
    display: block;
    font-size: 24px;
    width: fit-content;
    text-align: left;

}